<%- include("partials/header.ejs") %>
<div class="index-container">
    <div class="index-heading">
        <p class="index-heading-text">
            <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span><span> </span><span>T</span><span>o</span><span> </span><span>C</span><span>A</span><span>M</span><span>P</span><span>!</span><span>F</span><span>Y</span>
        </p>
    </div>
    <div class="index-page-button">
        <a href="/campgrounds" >Campgrounds</a>
    </div>
</div>

<%- include("partials/footer.ejs") %>
