.blackBG{
    background:rgb(35, 193, 255);
}
    
a{
    color:rgb(139, 51, 0);
}
a:hover{
    color:rgb(248, 91, 0);
}
.navbar-brand > a{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(59, 71, 122)
}
.common-navbar{
    background-image: linear-gradient(180deg,rgba(48, 22, 22, 0.541),rgba(184, 183, 183,0.7),rgba(48, 22, 22, 0.541));
    width: 100%;
    display:flex;
    flex-wrap: wrap ;
    align-items: center;
    padding: 0 30px;
    justify-content: space-around;
    position: sticky;
    top:0px;
    z-index:1;

}
.navbar-items{
    min-width: 250px;
    opacity:1;
    padding:0;
    list-style: none;
    margin:0;
    display:flex;
    min-height: 10vh;
    justify-self: flex-end;
    justify-content: space-around;
    align-items: center;
}
.navbar-items > a {
    text-decoration:none;
    height:cover;
    font-size: 20px;
}
#person-signed-in{
    font-weight: 600; 
    font-family: 'Times New Roman', Times, serif;
    max-width: 200px;
    text-align: center;
    overflow-x: hidden;
    color: rgb(64, 3, 80);
}
.auth-btn{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* navba styles ends here */
.thumbnail img {
    width:100%;
    border-radius:6px;
    border: 1px solid #BFBFBF;
    box-shadow: 15px 10px 0px #aaaaaa;
}
.thumbnail-2{
    background-image: linear-gradient(rgb(18, 19, 18), rgb(184, 184, 184));
    margin:0 auto;
}
.thumbnail-2 img {
    width:100%;
    border-radius:6px;
    padding: 1%;
    border: 1px solid #BFBFBF;
}
#delete-form{
display: inline;
}
.auth-heading{
    margin-top: 5em;
    font-weight: bold;
    font-family: monospace;
}
/* Index Page Styling */
.index-container{
    background:url(https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8Y2FtcGluZ3xlbnwwfHwwfA==);
    min-height: 95vh;
    width: 98.9vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-heading{
    margin-top: 20vh;
}
.index-heading-text{
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-weight:bolder;
    color: rgb(4, 255, 255);
    font-size: 9vw;

}
.index-heading-text > span:hover{
    text-emphasis: none;
    font-weight: 500;
    color: rgb(255, 0, 0);
    cursor: pointer;
    font-size: 9vw;
}
.index-page-button{
    margin-top: 10em;
    background:#00000050;
    text-align: center;
    padding: 5px 10px;
    border-radius: 7px;
    min-width: 180px;
    border: 0.0111px solid rgba(255, 0, 0, 0.1);
    color: rgb(0, 255, 13);
    box-shadow:0px 0px 20px 10px rgb(102, 255, 0);
    
    
}

.index-page-button:hover{
    background:#39ff14;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    min-width: 180px;
    color: rgba(255, 0, 212, 0);
    animation: indexButtonAfterEffect 1.25s infinite ease-in;
}
@keyframes indexButtonAfterEffect {
    from{ box-shadow: 0 0 0 0#25f800c7; }
    to{ box-shadow: 0 0 0 20px rgba(0,0,0,0);}
}

.index-page-button > a{
    color:inherit;
    font-weight: 900;
    display: inline-block;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: .375rem .75rem;
}

.index-page-button:hover > a{
    color:#000000;
    font-weight: 900;
    display: inline-block;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: .375rem .75rem;
    text-decoration: none;
}